server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: spa-api-gateway

  # ✅ Base routes: để profile override nếu cần
  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    org.springframework.security: INFO
